.btn-azul {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-rojo {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-verde {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


.btn {
    display: inline-block;
    padding: 3px 3px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}


.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}